img.pequeña{
  width: 170px; height: 65px;
}
img.mediana{
  width: 500px; height: 800px;
}
img.grande{
  width: 650px; height: 190px;
}
img.correcto{
  width: 650px; height: 170px;
}
img.user{
  width: 150px;
  height: auto;
  border-radius: 10px;
}
.logo{
  width: 210px; height: 170px;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'),
  url(fonts/iconos.woff2) format('woff2'),
  url('fonts/iconos.woff') format('woff');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;

  font-feature-settings: 'liga'; 
  -webkit-font-feature-settings: 'liga';  
  -webkit-font-smoothing: antialiased;
}

.po{
  background: #263238;
  margin-top: 50px;

}
.section-public{

    padding: 30px;
    background: white;
    box-shadow: 5px 5px 10px black;
}

 @media only screen and (max-width : 992px){
        .po{
         
          margin: 0;
        }
 }

.cuent{
  margin: 50px;
  border-radius: 8px; 
  border-top-color: black;
  
  
}

 @media only screen and (max-width : 992px){
        .cuent{
          margin: 0;
        }
 }

.nav-wrapper{
  background-color: transparent;
}

.o{
  width: 90px;
  height: auto;
}

.t{
  position:absolute;
  width:110px;
  height:auto;
  overflow:hidden;
  left:0px;
  vertical-align:middle;
}
.brain{
  
    background: url(../public/img/bra.jpg);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    
    height: 685px;
}

.title{
  font-weight: bold;
}
.slider .indicators {
  bottom: 10px;
  z-index: 100;
  /* text-align: left; */
}

.ki{
  margin-top: 35px;
}
